* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: lightgreen;
    color: black;
}

/* DROPDOWN STYLING */
.dropdown-btn {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border-style: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgreen;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  a:hover {
    background-color: black;
    color: white;
  }
}

.visible {
  display: block;
}

/* CAROUSEL STYLING */
/* .slider {
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    .slides {
        img {
            width: 100%;
            display: none;
            .displaySlide {
                display: block;
            }

        }

    }
}
.displaySlide {
    display: block;
} */

.slider {
    position: relative;
    width: 50%;
    margin: 5rem auto 1rem;
    overflow: hidden;
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        padding: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
}
.slides img {
    width: 100%;
    display: none;
}
img.displaySlide {
    display: block;
    animation-name: fadeAnimation;
    animation-duration: 1.5s;
}
.navigation-indicators {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    .indicator {
        height: 0.6rem;
        width: 0.6rem;
        background-color: white;
        border-radius: 50%;
    }
    .indicator.active {
        background-color: black;
    }
}
@keyframes fadeAnimation {
    from {opacity: .6}
    to {opacity: 1}
}